In [4]:
#importing all the required libararies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
 #load the dataset
df=pd.read_excel('/content/Churn (1) (2).xlsx')
df.head()

,Unnamed: 0,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,...,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,1,KS,area_code_415,128,yes,25,no,10.0,3,2.70,...,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,2,OH,area_code_415,107,yes,26,no,13.7,3,3.70,...,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,3,NJ,area_code_415,137,no,0,no,12.2,5,3.29,...,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,4,OH,area_code_408,84,no,0,yes,6.6,7,1.78,...,71,50.9,61.9,88,5.26,196.9,89,8.86,2,no
4,5,OK,area_code_415,75,no,0,yes,10.1,3,2.73,...,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no

Exploaratory Analysis on Telecom churn Data

In [6]:
# check for shape and size
print(df.shape)
print(df.size)

(5000, 21)
105000

In [7]:
# check for columns
df.columns

Index(['Unnamed: 0', 'state', 'area.code', 'account.length', 'voice.plan',
       'voice.messages', 'intl.plan', 'intl.mins', 'intl.calls', 'intl.charge',
       'day.mins', 'day.calls', 'day.charge', 'eve.mins', 'eve.calls',
       'eve.charge', 'night.mins', 'night.calls', 'night.charge',
       'customer.calls', 'churn'],
      dtype='object')

In [8]:
# check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      5000 non-null   int64
 1   state           5000 non-null   object
 2   area.code       5000 non-null   object
 3   account.length  5000 non-null   int64
 4   voice.plan      5000 non-null   object
 5   voice.messages  5000 non-null   int64
 6   intl.plan       5000 non-null   object
 7   intl.mins       5000 non-null   float64
 8   intl.calls      5000 non-null   int64
 9   intl.charge     5000 non-null   float64
 10  day.mins        5000 non-null   float64
 11  day.calls       5000 non-null   int64
 12  day.charge      5000 non-null   object
 13  eve.mins        5000 non-null   object
 14  eve.calls       5000 non-null   int64
 15  eve.charge      5000 non-null   float64
 16  night.mins      5000 non-null   float64
 17  night.calls     5000 non-null   int64
 18  night.charge    5000 non-null   float64
 19  customer.calls  5000 non-null   int64
 20  churn           5000 non-null   object
dtypes: float64(6), int64(8), object(7)
memory usage: 820.4+ KB

In [9]:
#checking descriptive statistical
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.50,3750.25,5000.00
account.length,5000.0,100.258600,39.694560,1.0,73.00,100.00,127.00,243.00
voice.messages,5000.0,7.755200,13.546393,0.0,0.00,0.00,17.00,52.00
intl.mins,5000.0,10.261780,2.761396,0.0,8.50,10.30,12.00,20.00
intl.calls,5000.0,4.435200,2.456788,0.0,3.00,4.00,6.00,20.00
intl.charge,5000.0,2.771196,0.745514,0.0,2.30,2.78,3.24,5.40
day.mins,5000.0,180.288900,53.894699,0.0,143.70,180.10,216.20,351.50
day.calls,5000.0,100.029400,19.831197,0.0,87.00,100.00,113.00,165.00
eve.calls,5000.0,100.191000,19.826496,0.0,87.00,100.00,114.00,170.00
eve.charge,5000.0,17.054322,4.296843,0.0,14.14,17.09,19.90,30.91
night.mins,5000.0,200.391620,50.527789,0.0,166.90,200.40,234.70,395.00
night.calls,5000.0,99.919200,19.958686,0.0,87.00,100.00,113.00,175.00
night.charge,5000.0,9.017732,2.273763,0.0,7.51,9.02,10.56,17.77
customer.calls,5000.0,1.570400,1.306363,0.0,1.00,1.00,2.00,9.00

In [10]:
#remvoing this columns as it's uneccessary
df.drop('Unnamed: 0',axis=1)

,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,day.mins,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,KS,area_code_415,128,yes,25,no,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,OH,area_code_415,107,yes,26,no,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,NJ,area_code_415,137,no,0,no,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,OH,area_code_408,84,no,0,yes,6.6,7,1.78,299.4,71,50.9,61.9,88,5.26,196.9,89,8.86,2,no
4,OK,area_code_415,75,no,0,yes,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,HI,area_code_408,50,yes,40,no,9.9,5,2.67,235.7,127,40.07,223,126,18.96,297.5,116,13.39,2,no
4996,WV,area_code_415,152,no,0,no,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,DC,area_code_415,61,no,0,no,13.6,4,3.67,140.6,89,23.9,172.8,128,14.69,212.4,97,9.56,1,no
4998,DC,area_code_510,109,no,0,no,8.5,6,2.30,188.8,67,32.1,171.7,92,14.59,224.4,89,10.10,0,no
4999,VT,area_code_415,86,yes,34,no,9.3,16,2.51,129.4,102,22,267.1,104,22.70,154.8,100,6.97,0,no

In [12]:
#check for null values
df.isnull().sum()

Unnamed: 0        0
state             0
area.code         0
account.length    0
voice.plan        0
voice.messages    0
intl.plan         0
intl.mins         0
intl.calls        0
intl.charge       0
day.mins          0
day.calls         0
day.charge        0
eve.mins          0
eve.calls         0
eve.charge        0
night.mins        0
night.calls       0
night.charge      0
customer.calls    0
churn             0
dtype: int64

We cant find any null values in Dataset

In [11]:
# to check number of churners and non-churners
df['churn'].value_counts()

churn
no     4293
yes     707
Name: count, dtype: int64

TO check if churners make